/* RESET */
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

/* VARIABLES */
/* TYPOGRAPHY */
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../../assets/fonts/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: "IBM Plex Sans Bold";
  src: url("../../assets/fonts/IBMPlexSans-Bold.ttf");
}
body {
  font-size: 16px;
  line-height: 26px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #191826;
}

h1,
h2 {
  font-family: "IBM Plex Sans Bold", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.454545px;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.offer {
  color: #FCFAF9;
}

.offer a {
  color: #FCFAF9;
  text-decoration: none;
}

.offer a.android-btn {
  color: #191826;
}

.offer-content .offer-description {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.offer-price {
  font-size: 1.25rem;
}

.offer-dollars {
  font-family: "IBM Plex Sans Bold", sans-serif;
  font-size: 4.0625rem;
  vertical-align: top;
  margin-right: 1rem;
}

.footer p {
  line-height: 1.625rem;
}

.offer a {
  font-family: "IBM Plex Sans Bold", sans-serif;
  font-size: 1.125rem;
  text-align: center;
}

.contact-email {
  font-family: "IBM Plex Sans Bold", sans-serif;
}

/* LAYOUT */
.container {
  background-image: url("../../assets/images/bg-main-mobile.png");
  background-position: -10% -20%;
  background-repeat: no-repeat;
}

header,
.hero,
footer {
  width: 87.2%;
  margin: 0 auto;
}

.logo {
  width: 45%;
  margin-top: 2.5rem;
}

h1 {
  margin-top: 3.5rem;
}

.hero p {
  margin-top: 1.2rem;
}

.offer {
  margin-top: 10.375rem;
  background-color: #191826;
  border-radius: 0.75rem;
}

.offer-image {
  background-image: url("../../assets/images/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: top center;
  height: 23.75rem;
  position: relative;
}

.offer img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -6.125rem;
  display: block;
  width: 55.72%;
  max-width: 250px;
  margin: 0 auto;
}

.offer-content {
  background-color: #FA7453;
  border-radius: 0.75rem;
  padding: 3rem 2.25rem;
}

.offer-content .offer-description {
  margin-top: 0.75rem;
}

.offer-price {
  margin-top: 3rem;
  margin-left: 0.375rem;
}

.offer a {
  margin-left: 0.375rem;
  display: block;
  padding: 1.1rem 0;
  border-radius: 0.75rem;
}

a.ios-btn,
a.android-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.ios-btn {
  margin-top: 2.9rem;
  background-color: #191826;
}

a.android-btn {
  margin-top: 1rem;
  background-color: #FCFAF9;
}

embed {
  margin-right: 0.5rem;
}

footer .logo {
  margin-top: 4rem;
}

footer p {
  margin-top: 1.5rem;
}

.social-media {
  margin-top: 4rem;
  margin-bottom: 5rem;
  display: flex;
}

.social-logo {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #191826;
  margin-right: 1.25rem;
}

.facebook-logo {
  -webkit-mask: url("../../assets/images/icon-facebook.svg") no-repeat center;
          mask: url("../../assets/images/icon-facebook.svg") no-repeat center;
}

.instagram-logo {
  -webkit-mask: url("../../assets/images/icon-instagram.svg") no-repeat center;
          mask: url("../../assets/images/icon-instagram.svg") no-repeat center;
}

.twitter-logo {
  -webkit-mask: url("../../assets/images/icon-twitter.svg") no-repeat center;
          mask: url("../../assets/images/icon-twitter.svg") no-repeat center;
}

/* TABLET LAYOUT */
@media (min-width: 650px) {
  body {
    background-image: url("../../assets/images/bg-main-tablet.png");
    background-position: 75% -40%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .container {
    background-image: url("../../assets/images/bg-pattern-1.svg");
    background-position: 108% -2.5%;
    background-size: 35%;
  }
  header,
  .hero,
  footer {
    width: 90.5%;
  }
  .logo {
    width: 21.02%;
    margin-top: 3.875rem;
  }
  .hero {
    width: 67%;
    margin-top: 5.5rem;
    margin-left: 2.4375rem;
  }
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .hero p {
    margin-top: 1.8rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .offer {
    width: 90%;
    margin: 0 auto;
    margin-top: 15.5rem;
    position: relative;
    padding-bottom: 13.8rem;
  }
  .offer-image {
    background-size: 42%;
    background-position: 54% 55%;
  }
  .offer img {
    width: 39%;
    left: 28%;
    top: -8.625rem;
  }
  .offer-content {
    width: 57.4%;
    position: absolute;
    top: 9.375rem;
    right: 3.625rem;
    padding: 3rem 2.7rem;
    padding-bottom: 3rem !important;
  }
  a.ios-btn {
    margin-top: 2.8rem;
  }
  footer {
    margin-top: 11.2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10rem;
  }
  footer .logo {
    width: 38.2%;
    margin-top: 0;
  }
  .footer-text {
    width: 55%;
    margin-top: 0.1rem;
    margin-left: -0.1rem;
  }
  .social-media {
    margin: 0;
    margin-bottom: 1.7rem;
  }
  .social-media div:nth-last-child(1) {
    margin-right: 0.2rem;
  }
}
/* DESKTOP LAYOUT */
@media (min-width: 1000px) {
  body {
    background-image: url("../../assets/images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-position: 75% 100%;
    background-size: auto;
  }
  .container {
    background-image: url("../../assets/images/bg-pattern-1.svg");
    background-repeat: no-repeat;
    background-position: 100% -3%;
    background-size: 22%;
  }
  header,
  .hero,
  .offer,
  footer {
    width: 77.083%;
    margin: 0 auto;
  }
  header .logo {
    width: 13.16%;
  }
  .hero {
    margin-top: 7.5rem;
  }
  h1,
  .hero p {
    width: 77%;
  }
  h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
    letter-spacing: -1px;
  }
  .hero p {
    margin-top: 2.5rem;
    font-size: 1.25rem;
    line-height: 2.125rem;
  }
  .offer {
    margin-top: 20.0625rem;
    padding-bottom: 7.5em;
  }
  .offer-image {
    background-size: 28%;
    background-position: 42% -260%;
    height: 30rem;
  }
  .offer img {
    width: 28.11%;
    transform: translateX(0);
    left: 6.375rem;
    top: -13.3125rem;
  }
  .offer-content {
    width: 40%;
    top: 5.5rem;
    right: 6rem;
    padding: 4rem 3.2rem;
  }
  .offer-content h2 {
    font-size: 2.5rem;
  }
  .offer-content .offer-description {
    padding-top: 1.2rem;
    font-size: 1.25rem;
    line-height: 2.125rem;
    width: 95%;
  }
  a.ios-btn {
    margin-top: 3.6rem;
  }
  a.ios-btn:hover {
    cursor: pointer;
    background-color: #66E2DC;
  }
  a.android-btn:hover {
    cursor: pointer;
    background-color: #FFB964;
  }
  footer {
    margin-top: 12.625rem;
    margin-bottom: 5.6875rem;
  }
  .footer-text {
    width: 90%;
    display: flex;
    align-items: flex-start;
  }
  footer .logo {
    margin-top: 0;
    width: 14.47%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer-text p {
    margin-top: 0;
    margin-left: 8.61rem;
    width: 40%;
  }
  .social-logo:hover {
    cursor: pointer;
    background-color: #FA7453;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1600px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=styles.css.map */